/* This stylesheet is mostly by Short Circuit and <insert skater name here>.
   Adapted to theming system by Fabien Tricoire.
*/

html {
    height: 100%;
}

body {
    position: absolute;
    height: 100%;
    margin: 0;
    z-index: 0;
    border: none;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    font-size: 100%;
    font-family: sans-serif;
    /* custom NURDS values */
    --pivot-stripe-height: 8;
    --skater-radius: 13;
    --jersey-radius: 11;
    --skater-contour-width: 4;
    --preferred-team-A-colour: white;
    --preferred-team-B-colour: black;
}

input {
    background-color: #1234bb;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
}

svg {
    background: rgba(127,140,206,1);
    display: block;
    width: 100%;
    height: 100%;
}

.trackBoundary {
    stroke: white;
    fill: none;
    fill-opacity: 1;
    stroke-width: 3;
}


.trackBackground {
    stroke: none;
    fill: #727db8;
    fill-opacity: 1;
    fill-rule: evenodd;
}

path.virtualDistanceLine {
    stroke: #00ff00;
    fill: none;
    stroke-width: 1.4;
    stroke-dasharray: 5,3
}

.blockerNumber {
    user-select: none;
    /* must be specified here to function when exporting files */
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    dominant-baseline: central;
    text-anchor: middle;
    fill: grey;
}

.invisible {
    /* font-size: 0px; */
    display: none;
}

.mark {
    stroke: white;
    fill: none;
    stroke-width: 1.5;
}

.engagementZone {
    fill: #ff8300;
    stroke: none;
    fill-opacity: 1;
}

.skater {
    stroke-width: 4;
}

.player {
    fill: grey;
}    

.pivot,.jammer,.blocker,.zebra {
    stroke-width: 0;
}

.teamA {
    stroke: #000000; /* colour for team A */
    fill: #000000; /* colour for team A */
}

.teamB {
    stroke: #ffffff; /* colour for team B */
    fill: #ffffff; /* colour for team B */
}

.OOB {
    stroke: red;
}

.pack {
    stroke: #1234bb;
}

.OOP {
    stroke: black;
}

.down {
    stroke: darkred;
}

.movable {
    cursor: move;
}

.nopack {
    stroke: lightsteelblue;
}

.zebra {
    stroke: black;
}

.JRStar {
    stroke: black;
    stroke-width: .2;
}

.recButton {
    stroke: red;
    fill: red;
}

.selected {
    /* fill: grey; */
    fill-opacity: .4;
}

.selection {
    stroke: grey;
    fill-opacity: 0.2;
    stroke-width: 1;
}

.HUD {
    position: absolute;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: rgba(0, 0, 0, 0.7);
    border-style: outset;
    color: white;
    visibility: hidden;
    z-index: 1;
    /* max-height: 100%; */
    /* max-height: 280px; */
    cursor: default;
}

.HUDcontent {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
}

.alignRight {
    text-align: right;
    align: right;
}

.leftBound {
    left: 0;
}

.rightBound {
    right: 0;
}

.bottomBound {
    bottom: 0;
}

.startHUD {
    position: absolute;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    z-index: 1;
}

.noSelection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
